<header>
    <div id="header">
      <div id="logo" class="group">
        <a href="{{ site.baseurl }}/"><img src="../images/pat-tick.png" alt="P@" /></a>
        <p id="slogan">A Journey Through The Technology Stack</p>
      </div>
      <div id="menu" class="group">
        <ul>
          <li class="active"><a href="/">home</a></li>
          <li class=""><a href="/about">about</a></li>
          <li class=""><a href="#blog">blog</a></li>
          <li class=""><a href="/picsmenu">gallery</a></li>
          <li class=""><a href="/linux">Linux</a></li>
          <li class=""><a href="/resume">r&eacute;sum&eacute;</a></li>
        </ul>
      </div>
    </div>
</header>

