    <nav id="header" class="navbar">

      <div class="row">
        <div id="logo" class="navbar-brand col-sm-6">
          <a href="{{ site.baseurl }}/"><img src="/images/pat-tick.png" alt="P@" /></a>
        </div>
        <div class="navbar-text hidden-xs-down navbar-collapse col-sm-5">
          <p id="slogan">A Journey Through The Technology Stack</p>
        </div>

        <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#menu">
          &#9776;
        </button>
      </div>

      <div class="collapse navbar-collapse navbar-toggleable-xs" id="menu">
        <ul class="navbar-nav nav-pills" id="menu">
          <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">ABOUT</a></li>
          <li class="nav-item"><a class="nav-link" href="/picsmenu">GALLERY</a></li>
          <li class="nav-item"><a class="nav-link" href="/linux">LINUX</a></li>
        </ul>
      </div>

    </nav>
