<div class="sidebar">
<dl>
<dt> Linux </dt>
<dd><a href="qlinux.html">Qu&eacute; es Linux?</a></dd>
<dd><a href="news.html">Novedades</a></dd>
<!-- <dd><a href="http://patocarr.com/cgi-bin/pwiki.pl?HowIdidit">HowTos (wiki)</a></dd> -->
<dd><a href="projects.html">Proyectos</a></dd>
<dd><a href="experience.html">Experiencias</a></dd>
<!--<dd><a href="../screenshots/index.html">Screenshots</a></dd> -->
<dd><a href="games.html">Juegos</a></dd>
<dd><a href="software.html">Software</a></dd>
<!-- <dd><a href="../windoze/index.html">Windows??</a></dd> -->
<dd><a href="../index.html">Back home</a></dd>
</dl>
</div>

