<div id="bio">
      <p><b>patocarr.com</b> es la p&aacute;gina personal de Patricio Carr. Es una colecci&oacute;n de fotos, experiencias y cosas relacionadas con su vida.</p>
</div>
<div id="sidebar">
      <dl>
        <dt>Software Recomendado</dt>
        <dd><a href="#">Firefox</a>: el mejor browser</dd>
        <dd><a href="#">Thunderbird</a>: el email client m&aacute;s seguro</dd>
        <dd><a href="#">Git</a>: versionamiento de c&oacute;digo fuente distr&iacute;buido</dd>
        <dd><a href="#">Django</a>: web development como debe ser</dd>
      </dl>
</div> <!-- end #sidebar -->

