body {
  font-size: 62.5%;
  font-family: "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif;
	background: #FFFFFF url(../images/bg.png) repeat-y scroll center top;
  background: url(../images/noise-tile.gif) repeat;
}

/*
----------------------------------------*/
#wrap {
  background: url(../images/noise-tile.gif) repeat;
  font-size: 1.3em;
/*  max-width: 900px;
  margin: 0 auto;
*/
}
#wrap a {
  color: #214d80;
}

/*
----------------------------------------*/
#header {
  background: #FFFFFF url(../images/bg-kihei.png) repeat scroll left top;
}
#logo {
  padding: 0;
  margin : 0;
  margin-left : 40px;
  padding-top: 0px;
}
#logo a {
  float: left;
  box-shadow: 2px 2px 2px #202020;
  -webkit-box-shadow: 2px 2px 2px #202020;
  -moz-box-shadow: 2px 2px 2px #202020;
}
#slogan {
  float: right;
  font-size: 1.6em;
  padding: 0.4em 0 0.4em 0.4em;
  margin-right: 5%;
  color: rgba(255, 255, 255, 0.8);
}

/*
----------------------------------------*/
#menu {
  background: #323232;
  background: rgba(50, 50, 50, .7);
  margin-top: 1em;
}
#menu ul {
  margin-left: 3em;
  padding: 0.5em 0;
  list-style: none;
  text-transform: uppercase;
  float: left;
}
#menu a {
}
#menu li {
  display: inline;
  padding: 1em 1em 1em 0em;
}
#menu li a {
  color: #d0d0d0;
  padding-bottom: 0.5em;
  text-decoration: none;
}
#menu a:hover {
  text-decoration: none;
	background: url(../images/img02.gif) repeat-x left bottom;
}
#menu .active a {
	background: url(../images/img02.gif) repeat-x left bottom;
}

/*
----------------------------------------*/
.group:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}

/*
----------------------------------------*/
#bio {
  font-family: Georgia, serif;
  line-height: 1.5;
  font-size: 80%;
  float: right;
  clear: right;
  width: 20%;
  margin-top: 2em; margin-right: 3%;
  color: rgba(0, 0, 0, 0.6);
}

/*
----------------------------------------*/
#sidebar {
  float: right;
  width: 20%;
  clear: right;
  margin-top: 2em; margin-right: 3%;
  margin-bottom: 1em;
  border: 2px solid #d0d0d0;
  -moz-border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
}
#sidebar dl {
  padding: 0 0 0.5em 0;
}
#sidebar dt {
  font-size: 110%;
  padding: 0 .5em;
  margin: 0.5em 0 0.5em 0;
  background: #d0d0d0;
}
#sidebar dd {
  padding: 0 .7em;
  margin-bottom: 0.1em;
}

/*
----------------------------------------*/
#content {
  background: url(../images/burn.png) repeat-x top;
  color: rgba(0, 0, 0, 0.8);
  height: auto;
}

.quote {
  background: url(../images/box-shade.png) no-repeat bottom right;
  padding-bottom: 20px;
  margin-top: 1em;
}
.quote-inner {
  background: rgba(255, 255, 255, 0.8);
  /*border: 1px solid #d0d0d0;*/
  padding: 1em;
}

/*
----------------------------------------*/
#entries {
  float: left;
  height: 100%;
  margin: 2em 3% 2em 3%;
  width: 70%;
  font-size: 100%;
  color: rgba(0, 0, 0, 0.9);
}
#entries h1 {
  font-family: sans-serif;
  font-size: 160%;
  margin: 0 0 0 0;
}
#entries h2 {
  text-decoration: bold;
  font-family: Georgia, serif;
  font-size: 130%;
  margin: 0.5em 0 0 0;
}
#entries h3 {
  text-decoration: bold;
  font-family: Georgia, serif;
  font-size: 120%;
  margin: 1em 0 0 0;
}
#entries h4 {
  font-size: 80%;
  color: rgba(0, 0, 0, 0.3);
}
#entries p {
  padding-top: 1em;
}
#entries #text {
  background: url(../images/img05.gif) no-repeat;
  float: left;
}

acronym {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

/*
----------------------------------------*/
#extra {
  padding: 20px 2em;
  clear: both;
  background: rgba(155, 152, 109, 0.16);
  background: url(../images/seawater.png) repeat;
  height: 77px;
}
#extra ul {
  list-style: none;
  text-align: center;
}
#extra li {
  padding-right: 2em;
  float: left;
}

#legal {
  clear: both;
  padding: 30px 0 0 0;
  font-size: 0.8em;
  text-align: center;
  color: #375C69;
}
#legal a {
  color: #476B77;
}
